.circle {
    width: 80px;
    height: 80px;
    background: orangered;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    pointer-events: none;
    mix-blend-mode: multiply;
    opacity: 0.8;
    z-index: 110;
  }


  @media (max-width:480px) {
    .circle{
      width: 0px;
    height: 0px;
      opacity: 0;
    }
  }
