*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* pre loader */
#preloader{
    background: #000 url(img/preloader.gif) no-repeat center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}

.hero{
    border: 1px solid #eff4fd;
    /* top: -200px; */
    position:relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
}
.navbar{
    /* top: -100px; */
    /* background: rgb(241, 211, 185); */
    box-shadow: 0px 0px 15px rgba(255, 115, 0, 0.219);
    width: 100%;
    position: fixed;
    top: -1px;
}

nav{
    display: flex;
    /* width: 100%; */
    /* margin: auto; */
    background: #eff4fd;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    z-index: 99;
}

.logo{
    width: 3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    /* margin-left: 10rem; */
}

.name{
    margin-left: 1rem;
    font-weight: bold;
    color: #122121; 
    text-decoration: none;
    /* position:fixed; */
    /* z-index: 876778; */
}
.new{
    /* width: 160px; */
    margin-left: 7rem;
    /* padding: 0 2rem 0 2rem; */
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: center;
}
nav ul{
    margin-right: 1rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

/* .d-btn{
    border: none;
    outline: none;
    background: #122121;
    color: rgb(255, 115, 0);
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.d-btn:hover{
    background: rgb(255, 115, 0);
    color: #122121;
} */

nav ul li a{
    text-decoration: none;
    color: #122121;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover{
    color:rgb(255, 115, 0);
    border-bottom: 2px solid rgb(255, 115, 0);
    letter-spacing: 0.3rem;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #122121;
    margin-bottom: 20px;
}

span{
    color:rgb(255, 115, 0);

}
.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #122121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.detel a:hover{
    background: rgb(255, 115, 0);
    color: black;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: 50px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.shape{
    width: 70vh;
    height: auto;
    
}
.images:hover .shape{
    bottom: 40px;
}

.images:hover .yimg{
    left: 45%;
}
.images .yimg{
    margin-bottom: 0.5px;
}

p::selection,
h1::selection,
h2::selection,
li::selection,
span::selection,
a::selection {
    /* background: rgb(197, 197, 197); */
    background: rgba(255, 115, 0, 0.445);
}
span::selection{
    color: #122121;
}








/* **********about section****************** */


.about-section{
    /* width: 100%; */
    height: 90vh;
    margin: 2rem 0 0 0;
    padding: 1rem;
    background: #eff4fd;
    /* border: 8px solid red; */
}

.about-div{
    height: 23%;
    display: flex;
    /* border: 2px solid black; */
}

.about-content{
    text-align: right;
    padding: 5px;
    width: 100%;
    /* border: 2px solid green; */
}

.about-heading{
    /* margin-top:10px;
    margin-bottom: 10px; */
    font-size: 50px;
    color: #122121;
    text-transform: uppercase;
}

.about-content p{
    color: #555;
}

.lower-abt{
    /* border: 2px solid purple; */
    margin: 1rem;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.left-abt, .right-abt{
    /* border: 2px solid magenta; */
    width: 48%;
    height: 90%;
    padding: 1rem;
    background-color: #eff4fd;
}

.left-abt> h1{
    color: #122121;
}
.how-title{
    color: #122121;
}

.wrapper {
    width: 90%;
    margin:0 auto;
}

.how-title{
    margin-top: -10px;
    margin-bottom: 0.5rem;
}
 

/* skill bar in about me section >> */

.skill {
    margin-bottom: 20px;
    position: relative;
    overflow-x:hidden;
    /* border: 2px solid red; */
}
 
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #122121;
    margin: 0;
}
 
.skill:before {
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
 
.skill-bar {
    width: 100%;
    height: 8px;
    background: rgb(255, 115, 0);
    display: block;
    position: relative;
}
 
.skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
 
.skill-bar {
    position: relative;
}
 
.skill1 .skill-count1 {
    right: 0;
}
.skill1 {
    width: 90%;
}


.skill2 .skill-count2{
    right: 0%;
}
.skill2{
    width: 85%;
}
 

.skill3 .skill-count3{
    right: 0%;
}
.skill3{
    width: 80%;
}

.skill4 .skill-count4{
    right: 0%;
}
.skill4{
    width: 80%;
}

.skill5 .skill-count5{
    right: 0%;
}
.skill5{
    width: 75%;
}

.skill6 .skill-count6{
    right: 0%;
}
.skill6{
    width: 75%;
}

.left-abt > ol > li {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #122121;
}

.ed{
    margin: 10px;
    color: #122121;
    font-size: 15px;
}

.ed span{
    font-weight: bold;
}

/* *********project section****** */

.about-sectionp{
    /* width: 100%; */
    height: 120vh;
    margin: 1rem 0 0 0;
    padding: 1rem;
    background: #eff4fd;
    /* border: 8px solid red; */
}

.about-divp{
    height: 18%;
    margin: 1rem;
    /* padding: 1.5rem 1.5rem; */
    display: flex;
    /* border: 2px solid black; */
}

.about-contentp{
    text-align: right;
    padding: 5px;
    /* margin-left: 50%; */
    width: 100%;
    /* border: 2px solid green; */
}

.about-headingp{
    /* margin-top:10px;
    margin-bottom: 10px; */
    font-size: 50px;
    color: #122121;
    text-transform: uppercase;
}

.about-contentp p{
    color: #555;
}

.lower-abtp{
    /* border: 2px solid purple; */
    margin: 1rem;
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.project-wrapper{
    /* border: 1px solid black; */
    width: 95%;
    height: 45%;
    background-color: #eff4fd;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project{
    /* border-top: 2px solid #122121;
    border-left: 2px solid #122121;
    border-bottom: 2px solid rgb(255, 115, 0);
    border-right: 2px solid rgb(255, 115, 0); */
    /* border-bottom: 1px solid rgb(255, 115, 0); */
    border-right: 1px solid rgb(255, 115, 0);
    width: 32%;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
    position: relative;
}

.project img{
    width: 88%;
    height: 88%;
    object-fit: contain;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    z-index: 3;
}

.image-wrapper{
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    margin-right: 7px;
    border-right: 3px solid #122121;
}
.abt-project{
    /* border: 1px solid black; */
    height: 95%;
    width: 45%;
}

.abt-project h1{
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(255, 115, 0);
    z-index: 2;
}

.abt-project p{
    color: #122121;
    font-size: 14px;
    margin-bottom: 10px;
}

.abt-project a{
    font-size: 10px;
    color: rgb(255, 115, 0);
    cursor: pointer;
    font-weight: bold;
}

.project img:hover{
    transform:scale(90%);
    box-shadow: none;
    /* box-shadow: 0 4px 8px 0 rgba(255, 115, 0, 0.6), 0 6px 20px 0 rgba(255, 155, 0, 0.19); */
    /* box-shadow: rgba(255, 115, 0, 0.719) 8px 8px 10px; */
}


/* ****contact section*********** */


.about-section-c{
    /* width: 100%; */
    height: 90vh;
    margin: 1rem 0 0 0;
    padding: 1rem;
    background: #eff4fd;
    /* border: 8px solid red; */
}

.about-div-c{
    height: 20%;
    margin: 1rem;
    /* padding: 1.5rem 1.5rem; */
    display: flex;
    /* border: 2px solid black; */
}

.about-content-c{
    text-align: right;
    padding: 5px;
    /* margin-left: 50%; */
    width: 100%;
    height: 20%;
    /* border: 2px solid green; */
}

.about-heading-c{
    /* margin-top:10px;
    margin-bottom: 10px; */
    font-size: 50px;
    color: #122121;
    text-transform: uppercase;
}

.about-content-c p{
    color: #555;
}

.lower-abt-c{
    /* border: 2px solid purple; */
    /* margin: 1rem; */
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.left-abt-c, .right-abt-c{
    /* border: 2px solid green; */
    width: 47%;
    height: 90%;
    padding: 2rem;
    background-color: #eff4fd;
}

.left-abt-c{
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-img{
    /* border: 1px solid black; */
    height: 100%;
    width:100%;
    object-fit: contain;
    /* overflow: hidden; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.384); */
}


.form-h{
    margin-top: -20px;
    text-align: right;
    color: #122121;
}


.inform{
    /* border: 2px solid red; */
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.inform input, .inform textarea{
    margin: 0.3rem;
    border: 1px solid #122121;
    outline: none;
    width: 90%;
    height: 35px;
    padding: 8px;
    font-size: 14px;
    color: #122121;
    font-weight: 400;
}

.inform textarea{
    height: 100px;
    margin-bottom: 2rem;
}

.inform button{
    background: #122121;
    padding: 10px 18px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    /* margin: 10px 0; */
    margin-top: -17px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.inform button:hover{
    background: rgb(255, 115, 0);
    color: black;
}

form h3{
    font-size: 2.2rem;
    text-transform: uppercase;
}



/* ****footer****** */

.footer{
    /* border: 2px solid red; */
    width: 100%;
    height: 15vh;
    background: #122121;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footl{
    /* border: 2px solid white; */
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footl a{
    color: white;
}

.footlogo{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem;
    cursor: pointer;
    border-bottom: 1px solid white;
    padding: 8px;
}

.footmid p{
    color: white;
    border-bottom: 0.8px solid white;
}

.fd{
    color: white;
    margin: 1rem;
}

.footr{
    /* border: 2px solid white; */
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footr h3{
    color: white;
    font-size: 17px;
    font-weight: 100;
    margin-right: 1rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    width: 250px;
    height: 50px;
}
.footr a{
    color: white;
    margin: 1rem;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    transition:  all ease-in-out 0.2s;
    
}

.footr a:hover{
    transform: translateY(-6px);
    font-size: 25px;
}


.line{
    border: 1px solid white;
    height: 60%;
}



















/* **************** responsive ******************* */






/* ********581*************** */

@media (min-width:551px) and (max-width:681px){




}
